
<ul>
	<li><a href="#o-webu">O webu</a></li>
	<li><a href="#o-nastroji">O nástroji</a></li>
	<li><a href="#deleni-slov">Dělení slov</a></li>
	<li><a href="#mezery">Mezery</a></li>
	<li><a href="#delka-radku">Délka řádku</a></li>
	<li><a href="#css">Optimální styl</a></li>
</ul>

<h3 name="#o-webu">O webu</h3>

<p>Web vznik&shy;nul jako sou&shy;&#269;&shy;&aacute;st bakal&aacute;&#345;sk&eacute; pr&aacute;ce s&nbsp;n&aacute;z&shy;vem Mo&#382;nosti a&nbsp;limity webov&eacute; typog&shy;ra&shy;fie. Moti&shy;vace pro vytvo&#345;en&iacute; tohoto webu byly nedo&shy;statky typog&shy;ra&shy;fie v&nbsp;&#268;esk&eacute; repub&shy;lice i&nbsp;v&nbsp;zahra&shy;ni&#269;&iacute;. Sna&#382;&iacute;me se o&nbsp;pre&shy;zen&shy;taci fun&shy;k&#269;n&iacute; a&nbsp;este&shy;tick&eacute; formy typog&shy;ra&shy;fie a&nbsp;p&#345;ib&shy;l&iacute;&#382;it tech&shy;no&shy;lo&shy;gie, kter&eacute; typog&shy;ra&shy;fii na webu dok&aacute;&#382;&iacute; pozved&shy;nout na vy&scaron;&scaron;&iacute; &uacute;ro&shy;ve&#328;. Nej&shy;d&#367;le&#382;it&#283;j&scaron;&iacute; sou&shy;&#269;&shy;&aacute;st&iacute; webu ov&scaron;em&nbsp;je <a href="/">n&aacute;st&shy;roj na opravu typog&shy;ra&shy;fic&shy;k&yacute;ch chyb</a> p&#345;&iacute;mo v&nbsp;tex&shy;tu. Tato str&aacute;nka p&#345;&iacute;mo shr&shy;nuje n&#283;k&shy;ter&eacute; z&aacute;k&shy;ladn&iacute; poznatky z&nbsp;pr&aacute;ce, pro zdro&shy;je, pln&yacute; text a&nbsp;detailn&iacute; anal&yacute;zu nav&scaron;tivte archiv&nbsp;pr&aacute;ce.</p>

<a name="o-nastroji"></a><h3>O nástroji</h3>

<p>N&aacute;st&shy;roj se sna&#382;&iacute; o&nbsp;opravu nej&shy;v&#283;t&scaron;&iacute;ch typog&shy;ra&shy;fic&shy;k&yacute;ch nedo&shy;stat&shy;k&#367;. Mezi opra&shy;vy, kter&eacute; se n&aacute;st&shy;roj sna&#382;&iacute; pro&shy;v&eacute;st pat&#345;&iacute; p&#345;id&aacute;n&iacute; m&#283;kk&yacute;ch spo&shy;jov&shy;n&iacute;k&#367;, d&#283;len&iacute; slov, korektn&iacute; uvo&shy;zov&shy;ky, v&yacute;pustka a&nbsp;dal&scaron;&iacute; slo&#382;it&#283;j&scaron;&iacute; zna&shy;ky, poml&#269;&shy;ky, zkratky a&nbsp;ned&#283;li&shy;teln&eacute; mezery za nimi, jed&shy;no&shy;p&iacute;s&shy;menn&eacute; p&#345;ed&shy;lo&#382;ky a&nbsp;spoj&shy;ky, data a&nbsp;&#269;as, z&aacute;vorky a&nbsp;mezery kolem nich, znak n&aacute;so&shy;ben&iacute;, mezera mezi jed&shy;not&shy;kami a&nbsp;n&#283;d&#283;li&shy;teln&aacute; mezera p&#345;ed slo&shy;vem na konci odstavce. V&scaron;echny tyto volby jsou nasta&shy;vi&shy;tel&shy;n&eacute;. Nem&#367;&#382;eme v&scaron;ak nikdy zaru&#269;it stop&shy;ro&shy;centn&iacute; spo&shy;leh&shy;li&shy;vost, n&aacute;st&shy;roj se typog&shy;ra&shy;fii pouze sna&#382;&iacute; vylep&scaron;it, n&#283;k&shy;ter&eacute; s&eacute;man&shy;tick&eacute; pro&shy;bl&eacute;my v&scaron;ak nedo&shy;k&aacute;&#382;e vy&#345;e&scaron;it. Z&aacute;k&shy;ladn&iacute; dostupn&yacute; jazyk je &#269;e&scaron;ti&shy;na, experi&shy;men&shy;t&aacute;ln&#283; je pod&shy;po&shy;rov&aacute;na fran&shy;couz&scaron;tina a&nbsp;angli&#269;&shy;ti&shy;na. Jeho k&oacute;d&nbsp;je <a href="https://github.com/mkj-is/Truty">voln&#283; dostupn&yacute;</a> a&nbsp;&uacute;pravy jsou v&iacute;t&aacute;ny. Podrobn&aacute; doku&shy;men&shy;tace je dostupn&aacute; na&nbsp;serveru <a href="http://www.rubydoc.info/gems/truty">Rubydoc</a>.</p>

<a name="deleni-slov"></a><h3>Dělení slov</h3>

<p>Prvotn&iacute; c&iacute;l d&#283;len&iacute; je v&yacute;razn&#283; prak&shy;tic&shy;k&yacute;, u&scaron;et&#345;it m&iacute;sto nebo materi&aacute;l. D&#283;len&iacute; tak&eacute; usnad&#328;uje sazbu do bloku a&nbsp;zame&shy;zuje vzniku roz&shy;s&aacute;h&shy;l&yacute;ch mezer mezi slovy a&nbsp;n&aacute;s&shy;ledn&#283; &#345;ek mezi &#345;&aacute;d&shy;ky. V&nbsp;p&#345;&iacute;pad&#283; zarov&shy;n&aacute;n&iacute; do bloku je ov&scaron;em d&#283;len&iacute; slov nutn&eacute; i&nbsp;z&nbsp;pohledu este&shy;ti&shy;ky. Pro zachov&aacute;n&iacute; jed&shy;not&shy;n&eacute;ho zabar&shy;ven&iacute; textu se bez n&#283;j neo&shy;bejde&shy;me. Ale vzhle&shy;dem k&nbsp;tomu, &#382;e nem&#367;&#382;eme p&#345;esn&#283; odla&shy;dit &scaron;&iacute;&#345;ku textu a&nbsp;jeho um&iacute;s&shy;t&#283;n&iacute; kv&#367;li tekut&eacute; pod&shy;stat&#283; textu na inter&shy;ne&shy;tu, tak se &#345;ek&aacute;m nedo&shy;k&aacute;&#382;eme vyva&shy;ro&shy;vat &uacute;pl&shy;n&#283;. Proto dopo&shy;ru&#269;&shy;e&shy;jeme zarov&shy;n&aacute;n&iacute; vlevo s&nbsp;d&#283;len&iacute;m. &Scaron;&iacute;&#345;ka &#345;&aacute;dk&#367; je v&nbsp;n&#283;m pak tak&eacute; v&iacute;ce kon&shy;zis&shy;tent&shy;n&iacute;. V&nbsp;p&#345;&iacute;pad&#283; odstavce bez d&#283;len&iacute; uvid&iacute;me, &#382;e mezery na kon&shy;c&iacute;ch n&#283;k&shy;ter&yacute;ch &#345;&aacute;dk&#367; budou&nbsp;obrovsk&eacute;.</p>

<p>M&iacute;sta d&#283;len&iacute; jsou &#345;&iacute;zena pra&shy;vo&shy;pis&shy;n&yacute;mi&nbsp;pravidly, <a href="http://prirucka.ujc.cas.cz/?id=135&dotaz=dělen%C3%AD%20slov">Inter&shy;ne&shy;tov&aacute; jazy&shy;kov&aacute; p&#345;&iacute;ru&#269;ka</a> je p&#283;kn&#283; shr&shy;nuje a&nbsp;je nej&shy;p&#345;&iacute;s&shy;n&#283;j&scaron;&iacute;, nebo&#357; se pra&shy;vidla v&nbsp;n&#283;k&shy;ter&yacute;ch jin&yacute;ch p&#345;&iacute;ru&#269;&shy;k&aacute;ch drobn&#283; li&scaron;&iacute;. Tech&shy;nicky n&aacute;st&shy;roj fun&shy;guje tak, &#382;e na m&iacute;sta delen&iacute; p&#345;id&aacute; nevi&shy;di&shy;teln&yacute; znak m&#283;kk&yacute; spo&shy;jov&shy;n&iacute;k, kter&yacute; pro&shy;hl&iacute;&#382;e&scaron;i d&aacute; naje&shy;vo, &#382;e se v&nbsp;dan&eacute;m m&iacute;st&#283; m&#367;&#382;e slovo roz&shy;d&#283;lit. Tato metoda je pod&shy;po&shy;rov&aacute;na ve v&scaron;ech moder&shy;n&iacute;ch pro&shy;hl&iacute;&#382;e&#269;&shy;&iacute;ch. D&aacute;le v&nbsp;posledn&iacute; kapi&shy;tole jsou uve&shy;deny sty&shy;ly, kter&eacute; zaru&#269;&iacute; i&nbsp;typog&shy;ra&shy;ficky spr&aacute;vn&eacute; d&#283;len&iacute; v&nbsp;pro&shy;hl&iacute;&#382;e&#269;&shy;&iacute;ch, kter&eacute; to pod&shy;po&shy;ruj&iacute;, dnes je to p&#345;e&shy;dev&scaron;&iacute;m Inter&shy;net Explo&shy;rer 10 a&nbsp;vy&scaron;&scaron;&iacute;.

<a name="mezery"></a><h3>Mezery</h3>

<p>Jak by se mohlo na prvn&iacute; pohled lai&shy;kovi zn&aacute;t, nee&shy;xi&shy;s&shy;tuje pouze jeden typ meze&shy;ry. V&nbsp;textu je mnoho p&#345;&iacute;le&#382;i&shy;tost&iacute; pro mezery r&#367;z&shy;n&yacute;ch &scaron;&iacute;&#345;ek a&nbsp;vlast&shy;nos&shy;t&iacute;. Nej&shy;d&#367;le&#382;it&#283;j&scaron;&iacute; z&nbsp;nich je ur&#269;&shy;it&#283; ned&#283;li&shy;teln&aacute; mezera (n&#283;kdy tak&eacute; pevn&aacute; nebo nezlo&shy;mi&shy;teln&aacute; meze&shy;ra, anglicky non-b&shy;reaking spa&shy;ce). Pokud ji d&aacute;me mezi slova a&nbsp;ty se vysky&shy;tuj&iacute; u&nbsp;konce &#345;&aacute;d&shy;ku, tak tato mezera zamez&iacute; d&#283;len&iacute; a&nbsp;ob&#283; dv&#283; slova se p&#345;e&shy;su&shy;nou na za&#269;&shy;&aacute;tek dal&scaron;&iacute;ho &#345;&aacute;d&shy;ku. Na webu fun&shy;guje shodn&#283; s&nbsp;kla&shy;sic&shy;k&yacute;mi tex&shy;tov&yacute;mi pro&shy;ce&shy;so&shy;ry. I&nbsp;v&nbsp;nich v&#283;t&scaron;i&shy;nou mus&iacute;me ned&#283;li&shy;tel&shy;nou mezeru p&#345;i&shy;dat manu&aacute;l&shy;n&#283;, pokud nem&aacute;me zapnuty auto&shy;ma&shy;tick&eacute; korekce a&nbsp;nain&shy;sta&shy;lov&aacute;n slov&shy;n&iacute;k kon&shy;kr&eacute;t&shy;n&iacute;ho jazy&shy;ka. I&nbsp;tehdy v&scaron;ak mus&iacute;me v&#382;dy kon&shy;tro&shy;lo&shy;vat zda bylo v&scaron;e dopl&shy;n&#283;no spr&aacute;v&shy;n&#283;. Pra&shy;vidla pro u&#382;it&iacute; ned&#283;li&shy;teln&eacute; mezery jsou o&scaron;et&#345;ena nap&#345;&iacute;k&shy;lad nor&shy;mou &#268;SN 01&thinsp;6910, kter&aacute; defi&shy;nuje gra&shy;fic&shy;kou &uacute;pravu text&#367; zpra&shy;co&shy;van&yacute;ch gra&shy;fic&shy;k&yacute;mi&nbsp;procesory.</p>

<a name="delka-radku"></a><h3>Délka řádku</h3>

<p>Ide&shy;&aacute;ln&iacute; d&eacute;lka &#345;&aacute;dku je okolo 65 znak&#367;&nbsp;&ndash; tedy 2,5 n&aacute;so&shy;bek &#345;&iacute;m&shy;sk&eacute; abe&shy;cedy&nbsp;&ndash; n&#283;k&shy;ter&eacute; zdroje uv&aacute;d&iacute;, &#382;e nej&shy;l&eacute;pe &#269;iteln&yacute; je roz&shy;sah mezi zhruba 45 a&#382; 75 zna&shy;ky, n&#283;kdy je tento roz&shy;sah zv&yacute;&scaron;en a&#382; na 85.&nbsp;Pro p&iacute;smo pou&#382;it&eacute; na tomto webu, FF Meta v&nbsp;&#345;ezu regu&shy;lar, pro dosa&#382;en&iacute; t&eacute;to rela&shy;tivn&iacute; m&iacute;ry dos&aacute;h&shy;neme veli&shy;kost&iacute; zhruba 23 em&nbsp;&ndash; &#269;tver&#269;&shy;&iacute;k&#367;. Pokud pou&#382;i&shy;jeme tuto rela&shy;tivn&iacute; m&iacute;ru, tak se i&nbsp;&scaron;&iacute;&#345;ka odstavc&#367; bude p&#345;iz&shy;p&#367;so&shy;bo&shy;vat veli&shy;kosti&nbsp;p&iacute;sma.</p>

<a name="css"></a><h3>Optimální styl</h3>

<p>V&nbsp;t&eacute;to posledn&iacute; kapi&shy;tole shr&shy;nu&shy;jeme a&nbsp;na n&aacute;zorn&eacute; uk&aacute;zce k&oacute;du uka&shy;zu&shy;jeme jak&yacute; styl dopo&shy;ru&#269;&shy;u&shy;jeme po na&scaron;&iacute; anal&yacute;ze a&nbsp;v&yacute;z&shy;kumu pro jak&yacute;ko&shy;liv del&scaron;&iacute; text, ale op&#283;t opa&shy;ku&shy;je&shy;me, typog&shy;ra&shy;fie je o&nbsp;dopo&shy;ru&#269;&shy;en&iacute;ch, ne&nbsp;p&#345;&iacute;kazech.</p>

<pre>
width: 23em;
text-align: left;
text-rendering: optimizeLegibility;

font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;

hyphens: manual;
-webkit-hyphens: manual;
-moz-font-hyphens: manual;
-ms-hyphens: manual;

hyphenate-limit-lines: 3;
-webkit-hyphenate-limit-lines: 3;
-moz-font-hyphenate-limit-lines: 3;
-ms-hyphenate-limit-lines: 3;

hyphenate-limit-last: always;
-webkit-hyphenate-limit-last: always;
-moz-font-hyphenate-limit-last: always;
-ms-hyphenate-limit-last: always;
</pre>

