
@charset "utf-8";

// Our variables
$base-font-family: "ff-meta-serif-web-pro", serif;
$base-font-size:   1.35em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     $base-font-size;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    $base-font-size * 23;

$on-palm:          $content-width * 3 / 4;
$on-laptop:        $content-width;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin min-media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin prefix($property, $parameters...) {
  @each $prefix in -webkit-, -moz-, -ms-, "" {
    #{$prefix}#{$property}: $parameters;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "form",
        "syntax-highlighting"
;
